{{ define "main" }}
  <article>
    <h2>{{ .Title | markdownify }}</h2>
    {{ .Content }}
    <h2>Nos derniers articles&nbsp;:</h2>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar" "title" "Date") }}
            {{ .PublishDate | time.Format ":date_long" }}
            -
            {{ partial "icon.html" (dict "ctx" $ "name" "clock" "title" "Temps de lecture") }}
             {{ .ReadingTime }} min.
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
