@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Architects Daughter"),
    url("../fonts/architects-daughter-v17-latin-regular.woff2") format("woff2");
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Architects Daughter", Helvetica, sans-serif;
}

.app-header-avatar {
  border: 0.5rem solid $lightest-color;
  width: 5rem;
  height: 5rem;
}

details > summary {
  cursor: pointer;
}

a {
  text-decoration: revert;
}

.app-header-social a {
  text-decoration: none;
}

a.home-link {
  text-decoration: none;
}

@media (max-width: 940px) {
  .app-header {
    padding: 0.5em;
  }

  .app-header > h1 {
    margin: auto;
  }
}

.image-gallery {
  overflow: auto;
  margin-left: -1% !important;
}
.image-gallery li {
  float: left;
  display: block;
  margin: 0 0 1% 1%;
  width: 19%;
}
.image-gallery li a {
  text-align: center;
  text-decoration: none !important;
  color: #777;
}
.image-gallery li a span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 0;
}
.image-gallery li a img {
  width: 100%;
  display: block;
}

footer {
  bottom: 0;
  width: 100%;
  //center
  text-align: center;
}