<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "NGO",
    "name" : "Roues Libres Charenton",
    "legalName": "Roues Libres",
    "description": "Association d'auto-réparation de vélo ouverte un dimanche sur deux",
    "image" : "https://roues-libres-charenton.fr/images/RL_LOGO_COULEUR_RVB_hu7bb12c3fb576dd12695f0200134e5ff7_228301_448x0_resize_q90_box.jpg",
    "email" : "contact@roues-libres-charenton.fr",
    "url": "https://roues-libres-charenton.fr",
    "keywords": "auto-réparation, autoréparation, vélo, vélos",
    "nonprofitStatus": "FRNonprofitType",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "84 Quai des carrières",
      "addressLocality": "Charenton le Pont",
      "postalCode": "94220",
      "addressCountry": "FR"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 48.820899,
      "longitude": 2.401843
    },
    "smokingAllowed": false,
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Sunday",
      "opens": "10:00",
      "closes": "18:00",
      "validFrom": "2022-06-12"
    },
    "sameAs": [
      "https://twitter.com/AssoRouesLibres",
      "https://www.facebook.com/RouesLibresCharenton"
    ],
    "event" : {
      "@type" : "Event",
      "name" : "Ouverture de l'atelier",
      "startDate" : "2022-06-12T10:00:00",
      "endDate" : "2022-06-12T18:00:00",
      "location" : {
        "@type" : "Place",
        "name" : "Roues Libres Charenton",
        "eventAttendanceMode": "OfflineEventAttendanceMode",
        "address" : {
          "@type" : "PostalAddress",
          "streetAddress" : "84 Quai des carrières",
          "addressLocality" : "Charenton le Pont",
          "postalCode" : "94220",
          "addressCountry" : "FR"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 48.820899,
          "longitude": 2.401843
        },
      }
    }
  }
</script>
